html, body{
    height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body *{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
    
}

.all{
    width: 80%;
}

body{
    min-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(12,16,19);
    font-family:'Roboto', sans-serif;
}



.div_center_text{
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    text-transform: uppercase;
    color: white;
}


.botao_assine{
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    display: flex;

}


.acoes_naveg:hover{
    /* cursor:crosshair; mudança no cursor do mouse*/
    /* pointer-events: none; não disparar nenhum evento */
    background-color: rgb(203,226,0);
    color: black;
}

.acoes_naveg{
    border-radius: 5px;
    padding: 15px;
    text-decoration: none;
    color: white;
}

.assine{
    padding: 15px 16px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(203,226,0);
    width: 100%;
    text-decoration: none;
    color: black;
}

.propri li::marker{
    color:  rgb(203,226,0);
}

.propri{
    color: #ccc;
    margin: 0 0 35px;
    padding: 16px;
}

.list{
    /* flex grow da proporção ao espaço que um item flex deve ocupar
    setado como 1 ele cresce mais que os outros ou seja, ocupa mais espaço dentro do
    container */
    flex-grow: 1;

}

.itens{

    line-height: 1.8;
}

.preco{

    font-weight: 100;
    font-size: 34px;
}

.preço{
    margin-top: 25px;
}


h2{
    letter-spacing: 2px;
    margin: 0;
    text-transform: uppercase;
    height: 40px;
    border-bottom: 2px solid rgb(203,226,0);
}


.nave{
    gap: 20px;
    list-style: none;
}

.title{
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    margin-left: 20px;
    font-size: 32px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    height: 80px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(6,7,9);
}



.nave{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 500px;
    height: 50px;


}

.boxes{

    display: flex;
    justify-content: center;
    gap: 30px;
}

.box{
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 15px -5px black;
    border-radius: 7px;
    padding: 30px;
    color: white;
    width: 70%;
    background-color: rgb(33,38,44);
}

.assine:hover{
    color: #ccc;
    outline: 2px solid rgb(153, 170, 1);
    background-color:  rgb(33,38,44);
}